@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

:root{
    --cor-primaria:#ffd78f;
    --cor-secundaria:black;
    --cor-terciaria:#3061e3;
    --cor-rover:#da2528;

    --font-basica:"VT323", monospace;
    --font-titulo:"Press Start 2P", system-ui;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    color:var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box; /*isso nao deixa nada sair do body */
}

*{
    margin:0;
    padding: 0;
    font-family:var(--font-basica);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    padding-left: 1.5%;
}

.cabecalho img{
    width: auto;
    height: auto;
}



.conteudo{
    padding: 4%;
    display: flex;
    flex-direction: column;
}

.areaBotoes{
    display: flex;
    flex-direction: column;
    width: 50%;
    height:650px;
}

.textos{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

#textoDecodificar{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: whitesmoke;
    font-size: 32px;
    height: 500px;
    color: var(--cor-terciaria);
}


#textoDecodificado{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 40%;
    font-size: 32px;
    color: var(--cor-secundaria);
    height: 100%;
}

#textoDecodificado button{
    align-self: center;
}


#textoConfigurado{
    background-color: whitesmoke;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: auto;
    height: auto;
    font-size: 32px;
    height: 500px;
}

#textoDecodificado p{
    font-size: 32px;
    text-align: center;
}

#textoDecodificado .img{
    max-width: 450px;
    width: auto;
    height: auto;
    margin-top: 4%;
    align-self: center;
}

.butoes{
    gap: 24px;
    display: flex;
    justify-content:center;
}

.Codificar{
    padding: 2% 10%;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border-color: var(--cor-terciaria);
    font-size: 22px;
    cursor: pointer;
}

.Codificar:hover{
    border: solid var(--cor-rover);
    transition: 0.5 all;
}

.Decodificar{
    border-color: var(--cor-terciaria);
    padding: 2% 10%;
    border-radius: 24px;
    font-size: 22px;
    cursor: pointer;
    background-color: var(--cor-primaria);
}

.Decodificar:hover{
    border: solid var(--cor-rover);
    transition: 0.5 all;
    background-color: var(--cor-rover);
}

.copiar{
    padding: 2.5% 10%;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border-color: var(--cor-terciaria);
    font-size: 22px;
    cursor: pointer;
    padding-left: 20%;
    padding-right: 20%;
}

.copiar:hover{
    border: solid var(--cor-rover);
    transition: 0.5 all;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: var(--cor-primaria);
    font-family: var(--font-basica);
    font-weight: 400;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape p{
    font-size: 20px;
    padding-bottom: 5px;
}
